@using DartsScorer.Main.Match.RoundTheBoard
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DartsScorer.Main.Match.RoundTheBoard.Match
@{
    ViewData["Title"] = "Round the Board";
}

<h1>@ViewBag.Title</h1>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">

            @{
                if (Model.Winner != null)
                {
                    <h2>Winner: @Model.Winner.Name</h2>
                }
            }

            @Html.Partial("MatchPlayers", Model.Players)
            @{
                if (Model.Players.Any())
                {
                    <form asp-action="StartMatch" method="post">
                        <button type="submit" class="btn btn-primary btn-block">Start Match</button>
                    </form>
                }
            }
        </div>
        <div class="col-12 col-md-6">
            @{
                if (Model.CurrentPlayer == null)
                {
                    @Html.Partial("AddPlayer")
                    <br />
                    <form asp-action="AddPlayer" method="post">
                        <div class="input-group">
                            <select class="form-control" id="playerName" name="playerName" required>
                                <option value="">Select a player</option>
                                @foreach (var player in ViewBag.PlayerList as List<SelectListItem>)
                                {
                                    <option value="@player.Text">@player.Value</option>
                                }
                            </select>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Pick Player</button>
                            </div>
                        </div>
                    </form>
                }
                else
                {
                    var currentPlayer = Model.CurrentPlayer as RoundTheBoardPlayer;

                    @Html.Partial("PlayerScore", currentPlayer)

                    @Html.Partial("ThrowForm", currentPlayer)

                    @Html.Partial("LegScore", currentPlayer)
                }
            }
        </div>
    </div>
</div>