@using DartsScorer.Main.Match.RoundTheBoard
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DartsScorer.Main.Match.RoundTheBoard.Match
@{
    ViewData["Title"] = "Round the Board";
}

<h1>@ViewBag.Title</h1>

<div class="d-flex">
    <div class="flex-fill">
        
        @if (Model.Winner != null)
        {
            <h2>Winner: @Model.Winner.Name</h2>
        }
        
        @Html.Partial("MatchPlayers", Model)
        @{
            if (Model.Players.Any() && !Model.MatchInProgress)
            {
                <form asp-action="StartMatch" method="post">
                    <button type="submit" class="btn btn-primary">Start Match</button>
                </form>
            }
        }
    </div>
    <div class="flex-fill">
        @{
            if (Model.CurrentPlayer == null)
            {
                @Html.Partial("AddPlayer")
                <br/>
                // foreach of the players in the viewbag.players create a dropdown
                // with the player names
                <form asp-action="AddPlayer" method="post">
                    <div class="input-group">
                        <select class="form-control" id="playerName" name="playerName" required>
                            <option value="">Select a player</option>
                            @foreach (var player in ViewBag.PlayerList as List<SelectListItem>)
                            {
                                <option value="@player.Text">@player.Value</option>
                            }
                        </select>
                        <button type="submit" class="btn btn-primary">Pick Player</button>
                    </div>
                </form>
            }
            else
            {

                var currentPlayer = Model.CurrentPlayer as RoundTheBoardPlayer;

                @Html.Partial("PlayerScore", currentPlayer)

                @if (!currentPlayer.Finished())
                {
                    <!--<form asp-action="Throw" method="post">-->
        <div class="d-flex mb-2">
            <div class="d-flex flex-column w-75">
                <div class="d-flex flex-fill">
                    <div class="d-flex flex-column w-50 me-2">
                        <button class="btn btn-primary" id="bullseyeThrow" value="bull" onclick="toggleBullsEye()">Bull</button>
                    </div>
                    <div class="d-flex flex-column w-50">
                        <button class="btn btn-primary" id="outerBullThrow" value="outerBull" onclick="toggleOuterBull()">Outer Bull</button>
                    </div>
                </div>
                <div class="btn-group mt-2" role="group" aria-label="Multiplier">
                    <button class="btn multiplier" name="multiplier" id="single" value="S" onclick="toggleMultiplier(this)">Single</button>
                    <button class="btn multiplier" name="multiplier" id="double" value="D" onclick="toggleMultiplier(this)">Double</button>
                    <button class="btn multiplier" name="multiplier" id="treble" value="T" onclick="toggleMultiplier(this)">Treble</button>
                </div>
                <div class="mt-2">
                    <label class="form-check-label" for="throwValue">Score</label>
                    <input type="text" class="form-control" id="throwValue" name="throwValue" pattern="^(1[0-9]|20|[0-9])$" required title="The number must be between 1 and 20"/>
                </div>
            </div>
            <button type="button" class="btn btn-primary ms-2 w-auto" onclick="handleThrow()">Throw</button>
        </div>
        <!-- </form> -->
        }

        @Html.Partial("LegTable", currentPlayer)
        }
        }
    </div>
</div>