@using DartsScorer.Main.Match.RoundTheBoard
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DartsScorer.Main.Match.RoundTheBoard.Match
@{
    ViewData["Title"] = "Round the Board";
}

<h1>@ViewBag.Title</h1>

<div class="d-flex">
    <div class="flex-fill">
        
        @{
            if (Model.Winner != null)
            {
                <h2>Winner: @Model.Winner.Name</h2>
            }
        }
        
        @Html.Partial("MatchPlayers", Model)
        @{
            if (Model.Players.Any() && !Model.MatchInProgress)
            {
                <form asp-action="StartMatch" method="post">
                    <button type="submit" class="btn btn-primary">Start Match</button>
                </form>
            }
        }
    </div>
    <div class="flex-fill">
        @{
            if (Model.CurrentPlayer == null)
            {
                @Html.Partial("AddPlayer")
                <br />
                // foreach of the players in the viewbag.players create a dropdown
                // with the player names
                <form asp-action="AddPlayer" method="post">
                <div class="input-group">
                    <select class="form-control" id="playerName" name="playerName" required>
                        <option value="">Select a player</option>
                        @foreach (var player in ViewBag.PlayerList as List<SelectListItem>)
                        {
                            <option value="@player.Text">@player.Value</option>
                        }
                    </select>
                    <button type="submit" class="btn btn-primary">Pick Player</button>
                </div>
                </form>
            }
            else
            {   

                var currentPlayer = Model.CurrentPlayer as RoundTheBoardPlayer;
                
                @Html.Partial("PlayerScore", currentPlayer)
                
                @if (!currentPlayer.Finished())
                {
                    <form asp-action="Throw" method="post">
                        <div class="input-group">
                            <!-- add radio group that will post a string called maultipler to the form post-->
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="multiplier" value="S" id="single" checked>
                                <label class="form-check-label" for="single">
                                    Single
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="multiplier" value="D" id="double">
                                <label class="form-check-label" for="double">
                                    Double
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="multiplier" value="T" id="treble">
                                <label class="form-check-label" for="treble">
                                    Treble
                                </label>
                            </div>
                            <input type="text" 
                                    class="form-control" 
                                    id="throwValue" 
                                    name="throwValue" 
                                    pattern="^(1[0-9]|20|[1-9])$" 
                                    required title="The number must be between 1 and 20"/>
                            <button type="submit" class="btn btn-primary">Throw</button>
                        </div>
                    </form>
                }
                
                var legArray = currentPlayer.OrderedDescendingLegs().ToArray();
                var currentLegLocation = 0;
                foreach (var leg in legArray)
                {
                    var throws = leg.Throws;
                    <p><b>Leg @(legArray.Length - currentLegLocation)</b>: @string.Join(", ", throws.Select(thr => thr.ToString()))</p>
                    currentLegLocation++;
                }
            }
        }
    </div>
</div>