@using DartsScorer.Main.Match.RoundTheBoard
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DartsScorer.Main.Match.RoundTheBoard.Match
@{
    ViewData["Title"] = "Round the Board";
}

<h1>@ViewBag.Title</h1>

<div class="d-flex">
    <div class="flex-fill">
        
        @if (Model.Winner != null)
        {
            <h2>Winner: @Model.Winner.Name</h2>
        }
        
        @Html.Partial("MatchPlayers", Model)
        @{
            if (Model.Players.Any() && !Model.MatchInProgress)
            {
                <form asp-action="StartMatch" method="post">
                    <button type="submit" class="btn btn-primary">Start Match</button>
                </form>
            }
        }
    </div>
    <div class="flex-fill">
        @{
            if (Model.CurrentPlayer == null)
            {
                @Html.Partial("AddPlayer")
                <br/>
                // foreach of the players in the viewbag.players create a dropdown
                // with the player names
                <form asp-action="AddPlayer" method="post">
                    <div class="input-group">
                        <select class="form-control" id="playerName" name="playerName" required>
                            <option value="">Select a player</option>
                            @foreach (var player in ViewBag.PlayerList as List<SelectListItem>)
                            {
                                <option value="@player.Text">@player.Value</option>
                            }
                        </select>
                        <button type="submit" class="btn btn-primary">Pick Player</button>
                    </div>
                </form>
            }
            else
            {

                var currentPlayer = Model.CurrentPlayer as RoundTheBoardPlayer;

                @Html.Partial("PlayerScore", currentPlayer)

                @if (!currentPlayer.Finished())
                {
                    <!--<form asp-action="Throw" method="post">-->
        <div class="d-flex mb-2">
            <div class="d-flex flex-column w-75">
                <div class="d-flex flex-fill">
                    <div class="d-flex flex-column w-50 me-2">
                        <button class="btn btn-primary" id="bullseyeThrow" value="50" onclick="setThrow(this)">Bull</button>
                    </div>
                    <div class="d-flex flex-column w-50">
                        <button class="btn btn-primary" id="outerBullThrow" value="25" onclick="setThrow(this)">Outer Bull</button>
                    </div>
                </div>
                <div class="btn-group mt-2" role="group" aria-label="Multiplier">
                    <button class="btn multiplier" name="multiplier" id="double" value="D" onclick="toggleMultiplier(this)">Double</button>
                    <button class="btn multiplier" name="multiplier" id="treble" value="T" onclick="toggleMultiplier(this)">Treble</button>
                </div>
                <div class="mt-2">
                    <label class="form-check-label">Score</label>
                    <input type="hidden" id="throwValue"/>
                    <div class="score-button-group">
                        <button class="btn score-buttons boardScoreDark" value="1" onclick="setThrow(this)">One</button>
                        <button class="btn score-buttons boardScoreLight" value="2" onclick="setThrow(this)">Two</button>
                        <button class="btn score-buttons boardScoreDark" value="3" onclick="setThrow(this)">Three</button>
                        <button class="btn score-buttons boardScoreLight" value="4" onclick="setThrow(this)">Four</button>
                        <button class="btn score-buttons boardScoreDark" value="5" onclick="setThrow(this)">Five</button>
                    </div>
                    <div class="score-button-group">
                        <button class="btn score-buttons boardScoreLight" value="6" onclick="setThrow(this)">Six</button>
                        <button class="btn score-buttons boardScoreDark" value="7" onclick="setThrow(this)">Seven</button>
                        <button class="btn score-buttons boardScoreLight" value="8" onclick="setThrow(this)">Eight</button>
                        <button class="btn score-buttons boardScoreDark" value="9" onclick="setThrow(this)">Nine</button>
                        <button class="btn score-buttons boardScoreLight" value="10" onclick="setThrow(this)">Ten</button>
                    </div>
                    <div class="score-button-group">
                        <button class="btn score-buttons boardScoreDark" value="11" onclick="setThrow(this)">Eleven</button>
                        <button class="btn score-buttons boardScoreLight" value="12" onclick="setThrow(this)">Twelve</button>
                        <button class="btn score-buttons boardScoreDark" value="13" onclick="setThrow(this)">Thirteen</button>
                        <button class="btn score-buttons boardScoreLight" value="14" onclick="setThrow(this)">Fourteen</button>
                        <button class="btn score-buttons boardScoreDark" value="15" onclick="setThrow(this)">Fifteen</button>
                    </div>
                    <div class="score-button-group">
                        <button class="btn score-buttons boardScoreLight" value="16" onclick="setThrow(this)">Sixteen</button>
                        <button class="btn score-buttons boardScoreDark" value="17" onclick="setThrow(this)">Seventeen</button>
                        <button class="btn score-buttons boardScoreLight" value="18" onclick="setThrow(this)">Eighteen</button>
                        <button class="btn score-buttons boardScoreDark" value="19" onclick="setThrow(this)">Nineteen</button>
                        <button class="btn score-buttons boardScoreLight" value="20" onclick="setThrow(this)">Twenty</button>
                    </div>
                </div>
            </div>
                <button type="button" class="btn btn-outline-secondary ms-2 w-auto" onclick="handleMiss()">Miss</button>
        </div>
        <!-- </form> -->
        }

        @Html.Partial("LegTable", currentPlayer)
        }
        }
    </div>
</div>