@using DartsScorer.Main.Match.RoundTheBoard
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DartsScorer.Main.Match.RoundTheBoard.Match
@{
    ViewData["Title"] = "Round the Board";
}

<h1>@ViewBag.Title</h1>

<div class="d-flex flex-column flex-md-row">
    <div class="flex-fill">
        
        @if (Model.Winner != null)
        {
            <h2>Winner: @Model.Winner.Name</h2>
        }
        
        @Html.Partial("MatchPlayers", Model)
        @{
            if (Model.Players.Any() && !Model.MatchInProgress)
            {
                <form asp-action="StartMatch" method="post">
                    <button type="submit" class="btn btn-primary">Start Match</button>
                </form>
            }
        }
    </div>
    <div class="flex-fill">
        @{
            if (Model.CurrentPlayer == null)
            {
                @Html.Partial("AddPlayer")
                <br/>
                // foreach of the players in the viewbag.players create a dropdown
                // with the player names
                <form asp-action="AddPlayer" method="post">
                    <div class="input-group">
                        <select class="form-control" id="playerName" name="playerName" required>
                            <option value="">Select a player</option>
                            @foreach (var player in ViewBag.PlayerList as List<SelectListItem>)
                            {
                                <option value="@player.Text">@player.Value</option>
                            }
                        </select>
                        <button type="submit" class="btn btn-primary">Pick Player</button>
                    </div>
                </form>
            }
            else
            {

                var currentPlayer = Model.CurrentPlayer as RoundTheBoardPlayer;

                @Html.Partial("PlayerScore", currentPlayer)

                @if (!currentPlayer.Finished())
                {
                    <!--<form asp-action="Throw" method="post">-->
                    <div class="d-flex mb-2">
                        <div class="d-flex flex-column w-75">
                            <div class="d-flex flex-fill">
                                <div class="d-flex flex-column w-50 me-2">
                                    <button class="btn btn-primary bullseye" id="bullseyeThrow" value="50" onclick="setThrow(this)">Bull</button>
                                </div>
                                <div class="d-flex flex-column w-50">
                                    <button class="btn btn-primary outerbull" id="outerBullThrow" value="25" onclick="setThrow(this)">Outer Bull</button>
                                </div>
                            </div>
                            <div class="d-flex flex-fill" aria-label="Multiplier">
                                <div class="d-flex flex-column w-50 me-2">
                                    <button class="btn multiplier" name="multiplier" id="double" value="D" onclick="clickDouble(this)">Double</button>
                                </div>
                                <div class="d-flex flex-column w-50">
                                    <button class="btn multiplier" name="multiplier" id="treble" value="T" onclick="clickTreble(this)">Treble</button>
                                </div>
                                </div>
                            <div class="mt-2">
                                <input type="hidden" id="throwValue"/>
                                <div class="score-button-group">
                                    <button class="btn score-buttons boardScoreDark" value="1" onclick="setThrow(this)">1</button>
                                    <button class="btn score-buttons boardScoreLight" value="2" onclick="setThrow(this)">2</button>
                                    <button class="btn score-buttons boardScoreDark" value="3" onclick="setThrow(this)">3</button>
                                    <button class="btn score-buttons boardScoreLight" value="4" onclick="setThrow(this)">4</button>
                                    <button class="btn score-buttons boardScoreDark" value="5" onclick="setThrow(this)">5</button>
                                </div>
                                <div class="score-button-group">
                                    <button class="btn score-buttons boardScoreLight" value="6" onclick="setThrow(this)">6</button>
                                    <button class="btn score-buttons boardScoreDark" value="7" onclick="setThrow(this)">7</button>
                                    <button class="btn score-buttons boardScoreLight" value="8" onclick="setThrow(this)">8</button>
                                    <button class="btn score-buttons boardScoreDark" value="9" onclick="setThrow(this)">9</button>
                                    <button class="btn score-buttons boardScoreLight" value="10" onclick="setThrow(this)">10</button>
                                </div>
                                <div class="score-button-group">
                                    <button class="btn score-buttons boardScoreDark" value="11" onclick="setThrow(this)">11</button>
                                    <button class="btn score-buttons boardScoreLight" value="12" onclick="setThrow(this)">12</button>
                                    <button class="btn score-buttons boardScoreDark" value="13" onclick="setThrow(this)">13</button>
                                    <button class="btn score-buttons boardScoreLight" value="14" onclick="setThrow(this)">14</button>
                                    <button class="btn score-buttons boardScoreDark" value="15" onclick="setThrow(this)">15</button>
                                </div>
                                <div class="score-button-group">
                                    <button class="btn score-buttons boardScoreLight" value="16" onclick="setThrow(this)">16</button>
                                    <button class="btn score-buttons boardScoreDark" value="17" onclick="setThrow(this)">17</button>
                                    <button class="btn score-buttons boardScoreLight" value="18" onclick="setThrow(this)">18</button>
                                    <button class="btn score-buttons boardScoreDark" value="19" onclick="setThrow(this)">19</button>
                                    <button class="btn score-buttons boardScoreLight" value="20" onclick="setThrow(this)">20</button>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-secondary ms-2 w-auto" onclick="handleMiss()">Miss</button>
                    </div>
                    <!-- </form> -->

                }
        @Html.Partial("LegTable", currentPlayer)
        }
        }
    </div>
</div>